NODE_ENV=development
PORT=5001

DATABASE_URL=postgres://sipjalau_user:sipjalaupassword@localhost:5432/sipjalau_db
DATABASE_SSL=false

CLIENT_ORIGIN=http://localhost:5173

JWT_SECRET=ganti-dengan-secret-random-minimal-32-karakter
JWT_EXPIRES_IN=1d

AUTH_COOKIE_NAME=access_token
COOKIE_MAX_AGE_MS=86400000
COOKIE_SAME_SITE=lax
COOKIE_SECURE=false